<html lang="en">

<head>
    <title>Mongo Scraper</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body class="" style="">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Saved Articles</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/saved">Saved Articles</a></li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron text-center">
        <div class="overlay">
        </div>
        <div class="background-image">
        </div>
        <div class="caption">
            <h1>Saved Articles</h1>
            <p>Your Saved Articles</p>
        </div>
    </div>
    <div class="container-fluid article-container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><a class="article-link" target="_blank" href="https://www.nytimes.com/2018/03/18/briefing/russia-north-korea-xi-jinping.html">Russia, North Korea, Xi Jinping: Your Monday Briefing</a><a class="btn btn-danger delete">Delete From Saved</a><a class="btn btn-info notes">Article Notes</a></h3></div>
            <div class="panel-body">Here’s what you need to know to start your day.</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><a class="article-link" target="_blank" href="https://www.nytimes.com/2018/03/18/nyregion/carranza-new-york-schools-chancellor.html">For New Schools Chancellor, New York City Is a Big Leap</a><a class="btn btn-danger delete">Delete From Saved</a><a class="btn btn-info notes">Article Notes</a></h3></div>
            <div class="panel-body">Richard Carranza will lead the country’s biggest school district after a stint in Houston so brief that his record is hard to judge.</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><a class="article-link" target="_blank" href="https://www.nytimes.com/2018/03/15/us/politics/trump-russia-sanctions.html">Trump Imposes New Sanctions on Russia Over Cyberattacks</a><a class="btn btn-danger delete">Delete From Saved</a><a class="btn btn-info notes">Article Notes</a></h3></div>
            <div class="panel-body">The American sanctions announced on Thursday targeted many of the same Russian organizations and operatives identified by Robert S. Mueller III, the special counsel. The actions came as the Trump administration issued a statement with Britain, France and Germany denouncing Russia for its apparent role in a nerve-gas attack.</div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p>New York Times Mongo Scraper</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="../../assets/javascript/saved.js"></script>
</body>

</html>